.header-nav-box-mobile {
  display: none;
  z-index: 999;
}

.header-nav {
  background: url(images/start-screen-gradient-background.png) no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
}

.logo-link {
  text-decoration: none;
  cursor: pointer;
}

.header-logo-box {
  width: fit-content;
  height: fit-content;
}

.logo-title {
  margin: 1rem auto;
  color: #f1cdb3;
  font-family: Georgia;
  font-size: 32px;
  font-weight: 400;
  line-height: 35.2px;
  letter-spacing: 0.06em;
  text-align: left;
}
.logo-subtitle {
  margin: 0 auto;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: 400;
  line-height: 14.95px;
  letter-spacing: 0.1em;
  text-align: left;
}

.link {
  text-decoration: none;
  padding: 1rem;
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #cdcdcd;
  transition: linear color 0.3s;
  cursor: pointer;
}

.link:hover {
  color: #fafafa;
}

.header-nav-box .active {
  color: #fafafa;
  text-decoration: underline 2px #f1cdb3;
  text-underline-offset: 5px;
}

@media (max-width:1200px) {
  .header-nav{
    background-size: unset;
  }
}

@media (min-width: 430px) and (max-width: 650px) {
  .link {
    display: inline-block;
    padding: 8px;
    padding-bottom: 0;
  }
  .header-nav-box {
    width: 210px;
  }
}
