.footer {
  overflow: hidden;
  width: 100%;
  height: 350px;
  background: url(images/start-screen-gradient-background.png) no-repeat;
  background-size: cover;
}
.footer-content {
  display: flex;
  justify-content: space-around;
}
.contacts-title {
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  color: #ffffff;
  line-height: 45.5px;
  letter-spacing: 0.06em;
  text-align: left;
}

.contacts-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px 50px;
}

.footer-img {
  align-items: flex-end;
  max-width: 100%;
  margin-top: 2rem;
}

.contacts,
.location {
  width: 300px;
  margin: auto;
}

@media (max-width: 950px) {
  .footer {
    height: auto;
  }

  .footer-content {
    flex-direction: column;
  }
  .footer-img {
    width: 45%;
    margin: auto;
  }
}

/* -----------------------Tablets-------------- */
@media (max-width: 768px) {
  .footer {
    height: 50%;
  }
  .footer-content {
    flex-direction: column;
  }
  .footer-img {
    width: 30%;
    margin: auto;
  }
}

/* --------------------Phone---------------- */

@media (max-width: 633px) {
  .contacts-card {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 431px) {
  .contacts-title {
    font-size: 25px;
    line-height: 32.5px;
    letter-spacing: 0.06em;
    text-align: center;
  }
}
